/* styles.css */
.dat-ve-wrapper {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.banner-wrapper-buy-ticket {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
    /* Màu nền đen */
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.banner-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: fill;
    cursor: pointer;
    z-index: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.details-column {
    border-right: 1px solid #dee2e6;
}

.date-picker-column {
    padding-left: 20px;
}

h2,
h3 {
    color: #343a40;
}

.video-container-buy-ticket {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container-buy-ticket iframe,
.video-container-buy-ticket object,
.video-container-buy-ticket embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-side {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    background: rgb(0 0 0);
    z-index: 0;
}

.overlay-left {
    left: 0;
}

.overlay-right {
    right: 0;
}