.movie-option {
    position: relative;
    cursor: pointer;
  }
  
  .selected-overlay {
    color: orange;
    position: absolute;
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .selected-movie .gallery-img {
    filter: blur(2px);
  }
  
  .movie-container {
    position: relative;
    text-align: center;
  }
  
  .movie-container img {
    width: 100%;
    height: auto;
  }
  
  .movie-container p {
    margin-top: 8px;
  }